* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-image: url('images/background.png');
    background-repeat: repeat;
    /*tiling effect*/
    background-size: cover;
    /*scales the image to cover the area while maintaing it's aspect ration*/
    background-position: center center;
    /*centers image*/

}

header,
footer {
    text-align: center;
    background-color: #33333384;
    color: #fff;
    padding: 1em;
    border-radius: 50px;
}

h1 {
    font-size: 2em;
}

/*recipe cards section*/
.recipe-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
}

/*individual recip cards*/
.recipe-card {
    text-align: center;
    width: 50%;
    max-width: 400px;
    /*for screens that are very wide .. handling too much width stretching*/
    padding: 1.5em;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, boxe-shadow 0.3s ease;
}

.recipe-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}